@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,500&display=swap');


body {
  font-family: "Architects Daughter", cursive;
	background-image:url("./assets/cool-background.png");
  background-position: center;
  background-repeat: repeat;
}

.logo {
  align-items: center;
}
nav {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #6e6160;
		}
		font-family: "Architects Daughter", cursive;
		margin: 0 auto;
  }
  // &::after {
  //   background-position: right center;
  //   background-repeat: no-repeat;
  //   content: "";
  //   height: 129px;
  //   position: absolute;
  //   bottom: -64px;
  //   right: 32px;
  //   width: 290px;
  //   z-index: 99;
  // }
}

.cursor-pointer {
  cursor: pointer;
}

.members-list {
	height: 60vh;
	overflow-y: auto;
}

 .card-header {
	 background-color: rgb(248, 187, 154);
	 font-family: "Architects Daughter", cursive;

 }

.btn-primary {
	font-family: "Architects Daughter", cursive;
  background-color:#D1BEC4 !important;
  border-color: #F5DEE6 !important;
  min-width: 100px;
}

.cover-cards {
	height: 32vh;
}

.sessionName {
	font-family: 'DM Mono', monospace;

}

